# Two-trick pony for OSX and other case insensitive file systems:
# Ignore ./python binary on Unix but still look into ./Python/ directory.
/python
!/Python/
*.cover
*.dyn
*.gc??
*.iml
*.o
*.orig
*.profclang?
*.profraw
*.pyc
*.pyd
*.pyo
*.rej
*.swp
*~
.coverage
.gdb_history
.hg/
.idea/
.purify
.svn/
.vs/
.vscode/
Doc/.env/
Doc/.venv/
Doc/build/
Doc/env/
Doc/venv/
Include/pydtrace_probes.h
Lib/distutils/command/*.pdb
Lib/lib2to3/*.pickle
Lib/test/data/*
Makefile
Makefile.pre
Misc/python-config.sh
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
PC/*/*.bsc
PC/*/*.dll
PC/*/*.exe
PC/*/*.exp
PC/*/*.lib
PC/*/*.ncb
PC/*/*.pdb
PC/*/*.suo
PC/*/*.user
PC/*/Win32-temp-*
PC/*/amd64
PC/*/x64-temp-*
PC/python_nt*.h
PC/pythonnt_rc*.h
PCbuild/*-pgi
PCbuild/*-pgo
PCbuild/*.*sdf
PCbuild/*.VC.db
PCbuild/*.VC.opendb
PCbuild/*.suo
PCbuild/*.user
PCbuild/.vs/
PCbuild/amd64/
PCbuild/obj/
PCbuild/win32/
Parser/pgen
Parser/pgen.exe
Programs/_freeze_importlib
Programs/_freeze_importlib.exe
Programs/_testembed
Programs/_testembed.exe
TAGS
Tools/msi/obj
Tools/ssl/amd64
Tools/ssl/win32
__pycache__
autom4te.cache
bazel-*
build/
buildno
config.cache
config.log
config.status
config.status.lineno
core
coverage/
db_home
externals/
htmlcov/
ipch/
libpython*.a
libpython*.dll
libpython*.dylib
libpython*.so*
platform
pybuilddir.txt
pyconfig.h
python-config
python-config.py
python-gdb.py
python.bat
python.exe
python.exe-gdb.py
reflog.txt
tags
